<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/add_product.css" />
</head>


<body>
  <%- include('../layout/nav.ejs',{author : user.user_name}) %>
    <main>
        <form action="/search" method="post">
            <input type="text" name="book" value="" placeholder="Book Title or Author">
            <input type="submit">
        </form>
        <% if (blogs.length> 0){ %>
            <div class="grid">
                <% for(let blog of blogs) { %>
                    <article class="card.product-item">
                        <header class="card_header">
                            <h1 class="product__title">
                                <%= blog.title %>
                            </h1>
                        </header>
                        <div class="card_image">
                            <p class="product__description">
                                <%= blog.tag %>
                            </p>
                        </div>
                      
                        <div class="card_content">
                           
                            <p class="product__description">
                                <%= blog.body %>
                            </p>
                        </div>
                      
                    </article>
                    <% } %>
            </div>
            <% } else{ %>
                <h1>
                    No Products found
                </h1>
                <% } %>
    </main>
</body>

</html>


