<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/add_product.css" />
</head>


<body>


  <% if (typeof user != 'undefined'){ %>
    <%- include('../layout/nav.ejs',{author : user.user_name}) %>
 <% } else{ %>
     <%- include('../layout/nav.ejs') %>   
     <% } %>

    <main>
       
        <% if (blogs.length> 0){ %>
            <div class="wrapper">
                <% for(let blog of blogs) { %>
                   
                    <article class="box">
                        <header class="card_header">
                            <h1 class="product__title">
                                <%= blog.title %>
                            </h1>
                        </header>
                        <div class="card_image">
                            <p class="product__description">
                                <%= blog.tags %>
                            </p>
                        </div>
                      
                        <div class="card_content">
                           
                            <p class="product__description">
                                <%= blog.description %>
                            </p>
                        </div>

                      
                        <div style="display:inline-block;">
                              <% if (blog.state === "draft"){ %>
                            <a href="/get_a_published_blog/<%=blog._id %>" class="btn" >Publish</a>
                            <% } else{ %>
                            <a href="/get_a_published_blog/<%=blog._id %>" class="btn" >Edit</a>
                            <% }%>
        
                         
                           
                            <form action="/deleteBlog/<%=blog._id %>" method="post">
                                <button class="btn"  style="color: red; display:inline-flex;
                                padding: 0;
                                margin: 0;">Delete</button>
                              
                            </form>
                         
                         
                        </div>
                      
                    </article>
                
           
                    <% } %>
            </div>
            <% } else{ %>
                <h1>
                    No Products found
                </h1>
                <% } %>
    </main>

   

    <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/get_a_published_blog_byAuthor/<%= user.user_name %>/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/get_a_published_blog_byAuthor/<%= user.user_name %>/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/get_a_published_blog_byAuthor/<%= user.user_name %>/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
</div>
</body>

</html>


