<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/add_product.css" />
  </head>
  <body>
   
    <% if (typeof user != 'undefined'){ %>
        <%- include('../layout/nav.ejs',{author : user.user_name}) %>
     <% } else{ %>
         <%- include('../layout/nav.ejs') %>   
         <% } %>
    

    <% if ( blogFound != null){ %>
       
    <main>
      <form class="product-form" action="/updateBlogdetails/<%=blogFound._id %>" method="POST">
        <div class="form-control">
            <input type="hidden" name="id" id="title" value="<%=blogFound._id %>"> 
          <label for="title">Title</label>
          <input type="text" name="title" id="title"value="<%=blogFound.title %>" />

          <label for="description">Description</label>
          <input type="text" name="description" id="description" value="<%=blogFound.description %>" />

          <label for="state">State</label>
          <input type="text" name="state" id="state" value="<%=blogFound.state %>"/>

          <label for="tags">Tags</label>
          <input type="text" name="tags" id="tags" value="<%=blogFound.tags %>"/>

          <label for="body">body</label>

          <textarea name="body" id="body" rows="40" cols="50" ><%=blogFound.body %></textarea>
        </div>

        <button type="submit">Update Blog</button>
      </form>
    </main>
    <% }%>
  </body>
</html>

