
<header class="nav-header"> 
    <nav class="main-hader_nav">
        <ul class="header-item_list">
            <li class="header-item">
                <a href="/" class="<%= path ==='/' ?  'active': '' %>">Home</a>
            </li>

          
            <li class=" <%= user=== undefined ?'header-item' : 'visibility'   %>">
                <a href="/login"  class="<%= path === '/login' ?  'active': '' %>">Login</a>
            </li>
            <li class=" <%= user=== undefined ?'header-item' : 'visibility'   %>">
                <a href="/signUp"  class="<%= path === '/SignUp' ?  'active': '' %>">Sign Up</a>
            </li>

            <li class=" <%= user=== undefined ? 'visibility' : 'header-item'  %>">
                <a href="/admin/admin-products"  class="<%= path === '/admin/admin-products' ?  'active': '' %>">Admin Products</a>
            </li>


            <li class=" <%= user=== undefined ? 'visibility' : 'header-item'  %>">

                <% if (typeof author != 'undefined'){ %>
                    <a href="/get_a_published_blog_byAuthor/<%= author %>" class="<%= path === '/myBlog' ?  'active': '' %>">My blog</a>
                 <% } else{ %>
                    <a href="/get_a_published_blog_byAuthor/" class="<%= path === '/myBlog' ?  'active': '' %>">My blog</a> 
                     <% } %>



            </li>
            <li class=" <%= user=== undefined ? 'visibility' : 'header-item'  %>">
                <a href="/admin/add-products" class="<%= path === '/admin/add-products' ?  'active': '' %>">Log Out</a>
            </li>
        </ul>
    </nav>
</header>
